*{
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans' 'sans-serif';
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #fbfcfe;
}

.container{
  max-width: 1150px;
  padding: 0px 20px;
  margin: 0px auto;
}